/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
app/Console/Commands/count.php
app/Http/Controllers/PostController.php
app/Http/Controllers/TagController.php
app/Models/Post.php
app/Models/Tag.php
database/migrations/2023_03_13_071549_create_tags_table.php
database/migrations/2023_03_13_073330_create_posts_table.php
database/seeders/PostSeeder.php
database/seeders/TagSeeder.php
docker/Fpm.Dockerfile
docker/Nginx.Dockerfile
resources/views/post.blade.php
resources/views/posts.blade.php
resources/views/tag.blade.php
routes/web.php
docker-compose.yml
