/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
storage/framework/sessions/emJmMyPwnfO7hWDVJYYr0nC2Fs9wNLvxAuTBt76V
storage/framework/sessions/HGlJQNp2LjtGhmkcMLMSUjoJDoFg1ijwrxoGuLCD
storage/framework/sessions/RRmCitiBPO4J9mB0fLwx40nGdFvATumW9DDoc1vi
storage/framework/sessions/tE7GCu22n3bbysqJHn8mYRctOD2Hdum7BWxB7i8l
storage/framework/sessions/vGbPEQka0sAy1C44wzY7w8q7wDmmFCNUShUr4jTS
storage/framework/views/196bb1de0321fd2d28e1664a83b562ae.php
storage/framework/views/1a156967afbb7c23c3208a25b5bdd87e.php
storage/framework/views/2c8352f0b45c7105aa203800ef9e97a6.php
storage/framework/views/6f5b2a86afa962e5eb90eaf1ddc0f09b.php
storage/framework/views/8d1e518382dccb124958cc33aefe9ff0.php
storage/framework/views/afd63ff05b1fed1622c4c6463feee9d4.php
storage/framework/views/c8ad1c7b10b5c0b39420fedcd056b577.php
storage/framework/views/c8c65b5f4ad64e2b5a5d7afdbf333c81.php
storage/framework/views/d694c2d328c1822d0ced50ff12abf4a0.php
storage/logs/laravel.log
bootstrap/cache/packages.php
bootstrap/cache/services.php
